<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="public/css/bootstrap.min.css">
<script src="public/js/jquery-1.11.3.min.js"></script>
<script src="public/js/bootstrap.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
<script src="https://unpkg.com/vee-validate@2.2.15/dist/vee-validate.js"></script>
<title>Policy Docments Info</title>
</head>
<body>
	<!-- container -->
	<div class="container">
		<div class="row clearfix">
			<div class="col-md-12 column" style="text-align: center;">
			<br>
			</div>
			<div class="col-md-12 column">
			<div id="app">
			Account name:
				<select name="" id="" v-model="select2" @change='getValue'>
					<option value="">--Please select--</option>
					<option :value="item.CompanyName" v-for='item in optionList'>{{ item.CompanyName }}</option>
				</select>
			</div>
		<div class="panel text-center">
			<div class="col-md-12 column" style="text-align: center;">
				<h3>Broker contact details</h3>
			</div>
    			<div class="panel-body table-responsive">
				<!-- table begain -->
				<table class="table table-hover" id="usertable">
					<thead>
						<tr>
							<th>Company name</th>
							<th>Phone number</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(user,index) in userlist"
							v-bind:class="{success: index % 2 !=0,info: index % 2 ==0}"
							@click="change">
							<td>{{user.CompanyName}}</td>
							<td>{{user.PhoneNumber}}</td>
							<td>{{user.Email}}</td>
						</tr>
					</tbody>
				</table>
				<!-- table end -->
			</div>
			<!-- "row clearfix"> -->
		</div>
		<!-- col-md-12 column" -->
	</div>
	<!-- container -->
<script>
//The table gets the data method
var table = new Vue({
	el: '#usertable',
	data:{
		userlist : null
	},
	mounted () {
		//Get the data of the Table from the background
   		$.post('/tableList',function(res) {
	        table.userlist = res;
		});       
	},
	methods:{	  		 
	  change:function(){		  
		  this.isActive =! this.isActive;		
	  }
    }
});

//The drop-down list gets the data method
var select = new Vue({
	el: '#app',
	data: {
		select2: '',
		optionList: null
	},
	methods: {
		init: function(){
			//Get the data of the Table from the background
			$.post('/tableList',function(res) {
				select.optionList = res;
			});
		},
		getValue: function(){
			//After the user selects a document name, the relevant data is quished from the background and returned to the table
			$.post('/selectByCompanyName?CompanyName='+ select.select2, function(data) {					
				table.userlist = data;		 
			});
		}
	},
	created: function() {
		//Initialize the table data
		this.init();
	}
})
</script>
</body>
</html>
